.li {
  padding: 10px;
  background-color: rgb(72, 71, 69);
  color: #ccc;
  font-size: 12px;
  cursor: pointer;
  border: 1px solid rgb(55, 79, 55);
}

.todo--complete {
  border-left: 2px solid #557e7a;
}

.todo--not-complete {
  border-left: 2px solid yellow;
}
.header {
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.completed {
  display: block;
  margin-top: 10px;
}

.complete-wrapper {
  display: flex;
  justify-content: space-between;
}

.complete-btn {
  background-color: transparent;
  border: 1px solid rgb(32, 124, 32);
  padding: 5px 10px;
  color: #fff;
  cursor: pointer;
}

.complete-btn:hover {
  background-color: rgb(22, 88, 22);
}
