.heading {
  font-weight: normal;
  text-align: center;
  color: #87cdc6;
  margin-bottom: 4rem;
}

.create-todo {
  display: grid;
  grid-template-columns: 0.8fr 0.2fr;
  height: 4rem;
}

.input,
.button {
  border: 0.1rem solid #aaa;
  background-color: transparent;
}

.input {
  border-right: 0;
  padding: 0 1rem;
  caret-color: #fff;
  color: #fff;
}

.button {
  margin: 0;
  color: #87cdc6;
  cursor: pointer;
}

.new-todo-wrapper {
  text-align: center;
}
