.form{
  max-width: 100%;
}

.h2 {
  color: #6a9e98;
  font-weight: 400;
  text-align: center;
  margin-bottom: 1rem;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
}

.show-password-wrapper{
  display: flex;
  align-items: center;
  gap: .4rem;

}

.show-password-wrapper label{
  color: #fff;
  cursor: pointer;
}

.button-wrapper {
  display: flex;
  justify-content: center;
}

.error {
  color: red;
  font-size: 1.2rem;
  text-align: center;
}

.button {
  cursor: pointer;
  background-color: #6a9e98;
  border: none;
  color: #333;
  padding: 0.5rem 1rem;
}

.button:hover,
.button:active {
  background-color: #557e7a;
  color: #111;
}


.dont-have-account{
  margin-top: 2.4rem;
  color: #fff;
  text-align: center;
}

.signup-link{
  text-decoration: underline;
  cursor: pointer;
}