.input {
  background-color: transparent;
  color: #fff;
  padding: 5px;
}

.input::placeholder {
  color: #aaa;
}

.input,
.input:focus,
.input:active {
  border: 1px solid #aaa;
}

.textarea {
  width: 98%;
  height: 50px;
}
