.input {
  background-color: transparent;
  color: #fff;
  padding: 0.5rem;
}

.input::placeholder {
  color: #aaa;
}

.input,
.input:focus,
.input:active {
  border: 0.1rem solid #aaa;
}

.textarea {
  width: 98%;
  height: 5rem;
}
