.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
    width: 100%;
}


.input {
  background-color: transparent;
  color: #fff;
  padding: 0.5rem;

  border: 0.1rem solid #aaa;
}

.input::placeholder {
  color: #aaa;
}


.icon {
    width: 1.5rem;
    height: 1.5rem;
    
    stroke: #fff;
    
    
    position: absolute;
    top: 50%;
    right: 1rem;
    
    transform: translateY(-50%);
}   
